.container {
    margin-top: 20px;
}
    .container-custom {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        padding: 20px;
        margin-bottom: 20px;
    }
    .league-info {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f1f1f1;
        margin-bottom: 10px;
    }
    .overview-buttons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
    .fixtures-list {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f1f1f1;
        font-size: 12px;
    }
    .table-custom {
        margin-bottom: 0;
    }
    .badge-custom {
        padding: 5px;
        border-radius: 4px;
    }
    .badge-success {
        background-color: #28a745;
    }
    .badge-warning {
        background-color: #ffc107;
    }
    .badge-danger {
        background-color: #dc3545;
    }

table.matches-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table.matches-table thead {
  background: #ddd!important;
  width: 100%;
  font-size: 9px;
}

.matches-table td {padding: .1rem!important; }
.matches-table td img {width: 25% }

table.table-classifica thead {
  background: #ddd!important;
  width: 100%;
  font-size: 9px;
}

table.table-classifica td {
  font-size: 12px;
}

table.table-classifica {
padding:0;
margin:0;
}

.form-run {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.form-run li {
    width: 20px;
    height: 20px;
    margin-right: 1px;
    text-align: center;
    line-height: 18px;
    color: white;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
}

.hover-modal-parent {
    position: relative;
}

.hover-modal-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: auto;
    min-width: 300px;
    max-width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    transition: opacity 0.3s ease;
    opacity: 0;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center; /* Centrare il testo orizzontalmente */
}

.hover-modal-parent:hover .hover-modal-content {
    display: block;
    opacity: 1;
}

/* Stili personalizzati per la tabella */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Centrare il testo all'interno della tabella */
}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: center; /* Centrare il testo nelle celle */
    border-bottom: 1px solid #ddd;
}

.custom-table th {

    font-weight: bold;
}

/* Larghezza fissa per le colonne dei nomi delle squadre */
.custom-team-name {
    font-weight: bold;
    width: 35%; /* Larghezza fissa per le colonne delle squadre */
}

.custom-score {
    width: 30%;
    text-align: center; /* Centra il testo orizzontalmente */
    vertical-align: middle; /* Centra il testo verticalmente */
    font-size: 25px;
    padding-top: 10px; /* Aggiungi spazio sopra il testo per abbassarlo */
}

.custom-score span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px; /* Aggiungi un margine superiore per abbassare il testo */
}


.custom-mid-small {
    font-size: 12px;
    color: #555;
    text-align: center; /* Centrare testo delle note */
}

@media (max-width: 576px) {
    .hover-modal-content {
        top: 10px;
        padding: 15px;
        font-size: 12px;
        max-height: 80vh;
        text-align: center; /* Assicurare che il testo sia centrato anche su mobile */
    }
}

.position-gold {
        background-color: gold;
        color: black;
    }

    .position-silver {
        background-color: silver;
        color: black;
    }

    .position-bronze {
        background-color: #cd7f32; /* Colore bronzo */
        color: black;
    }

    .position-red {
        background-color: rgb(155, 17, 17);
        color: white;
    }

